<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.dao.mapping.RestaurantMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.pojo.Restaurant" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="restaurant_name" property="restaurantName" jdbcType="VARCHAR" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="mark" property="mark" jdbcType="DOUBLE" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="coordinate" property="coordinate" jdbcType="VARCHAR" />
    <result column="p_type" property="pType" jdbcType="INTEGER" />
    <result column="views" property="views" jdbcType="INTEGER" />
    <result column="program_id" property="programId" jdbcType="INTEGER" />
    <result column="tags_id" property="tagsId" jdbcType="INTEGER" />
    <result column="travel_agency_id" property="travelAgencyId" jdbcType="INTEGER" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.ssm.pojo.Restaurant" extends="BaseResultMap" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, restaurant_name, picture, city_id, price, mark, create_date, update_date, coordinate, 
    p_type, views, program_id, tags_id, travel_agency_id, flag
  </sql>
  <sql id="Blob_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    description
  </sql>
</mapper>